body {
    direction: rtl;
    text-align: right;
    /* Prevent horizontal scroll */
    margin: 0;
    padding: 0;
    /* Remove any padding */
    width: 100%;
    overflow-y: auto;
    /* Ensure the page width remains fixed */
}

/* Main */
.main {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background: var(--bg-colour);
    font-family: Calibri, serif;
    position: relative;
    background-size: cover;
    /* Ensure the background covers the whole page */
    margin: 0;
    /* Remove any margin */
    padding: 0;
    /* Remove any padding */
    overflow-x: hidden;
    /* Prevent overflow */
}

/* Navigation Bar */
nav {
    width: 84%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: center;
    padding: 0;
    /* Remove any default padding */
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-colour);
}

#icon {
    margin-left: 15px;
}

nav ul li a:hover {
    color: #3d49b9;
}

.lang-box a:hover {
    color: #3d49b9;
}

.en,
.ar {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.en:before {
    background-image: url("https://flagsapi.com/GB/flat/32.png");
    content: "";
    display: block;
    width: 32px;
    height: 32px;
}

.ar:before {
    background-image: url("https://flagsapi.com/SA/flat/32.png");
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    color: #1f2fb8;
}

/* Info Section */
.info {
    margin-right: 8%;
    margin-top: 15%;
    text-align: right;
}

.info h1 {
    font-size: 70px;
    color: var(--secondary-colour);
    margin-bottom: 20px;
}

span {
    color: #3d49b9;
}

.info p {
    color: var(--secondary-colour);
    line-height: 22px;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}

.info a {
    background: var(--secondary-colour);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-colour);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    text-align: right;
    font-weight: bold;
}

/* Image Box */
.img-box {
    width: 32%;
    height: 83%;
    position: absolute;
    bottom: 0;
    left: -70px;
    /* Move more to the left */
}

.img-box img {
    height: 93%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%);
    transition: bottom 1s, right 1s;
}

.img-box:hover .back-img {
    bottom: 40px;
}

.img-box:hover .maina-img {
    right: 40px;
}

/* Social Links */
.social-links {
    position: absolute;
    bottom: 230px;
    /* Move up by 7px */
    right: 7.25%;
    /* Move left by 10px */
    text-align: right;
}

.social-links a {
    font-size: 30px;
    color: var(--secondary-colour);
    margin-left: 20px;
}

.social-links .fa-github {
    position: absolute;
    right: 20px;
    /* Adjust position */
    bottom: 10px;
    /* Adjust position */
}

.social-links .fa-linkedin-in {
    position: absolute;
    right: 80px;
    /* Adjust position */
    bottom: 10px;
    /* Adjust position */
}

.social-links a:hover {
    color: #3d49b9;
    /* Ensure hover color changes */
}

#icon {
    width: 30px;
    cursor: pointer;
}

/* Theme */
:root {
    --primary-colour: #efefef;
    --secondary-colour: #212121;
    --bg-colour: #efefef;
}

.dark-theme {
    --primary-colour: #212121;
    --secondary-colour: #efefef;
    --bg-colour: #4e4e4e;
}

.body {
    margin-right: 8%;
    margin-top: 5%;
}

.body h1 {
    font-size: 60px;
    color: var(--secondary-colour);
    margin-bottom: 20px;
}

.body h2 {
    font-size: 30px;
    color: var(--secondary-colour);
    margin-bottom: 20px;
}

.body p {
    color: var(--secondary-colour);
    font-size: 22px;
    line-height: 22px;
}

.body ul {
    color: var(--secondary-colour);
    font-size: 22px;
    line-height: 22px;
}

.arr{
    position: absolute;
    right: 130px;
    bottom: 40px;
    direction: ltr;

}

.body ul li {
    display: inline-block;
    list-style: none;
    margin: 15px 10px;
    font-size: 25px;
}

.body img {
    display: block;
    border: 5px solid #212121;
    border-radius: 10px;
}

.iel {
    width: 55%;
    height: 45%;
}

.jav {
    width: 65%;
    height: 85%;
}

.accordion {
    margin-left: 140px;
    width: 80%;
    position: absolute;
    right:100px;
}

.accordion li {
    color: #2134dd;
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px #3d49b9, -6px -6px 10px -1px #3d49b9;
    background-color: #efefef;
    
}

.accordion li img {
    display: inline-block;

    margin-right: 90px;
    margin-top: 30px;
    max-width: 90%;
    max-height: 600px;
    border: 10px solid #212121;
    border-radius: 10px;
}

.accordion li .calc {
    margin-right: 475px;
}

.accordion li .conv {
    margin-right: 400px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="checkbox"] {
    display: none;
}

.accordion .content {
    margin: 0 auto;
    padding: 0;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion .content h3{
    color: var(--secondary-colour);
}

.accordion .content h3 a {
    text-decoration: none;
    color: var(--secondary-colour);
}

.accordion input[type="checkbox"]:checked+label+.content {
    max-height: 100%;
    padding: 10px 10px 20px;
}

.accordion input[type="checkbox"]:checked+label::before {
    content: '-';
}

#icon {
    border: 3px solid var(--secondary-colour);
    border-radius: 55px;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    color: var(--secondary-colour);
    font-size: 25px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.00001fr 0.00001fr 0.00001fr 0.00001fr 0.00001fr 0.00001fr;
    gap: 15px;
}

.row {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: right;
}