* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100%;
    background: var(--bg-colour);
    font-family: Times-New-Roman, serif;
    position: relative;
}

.main2 {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: var(--bg-colour);
    font-family: Times-New-Roman, serif;
    position: relative;
}

nav {
    width: 84%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 25px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-colour);
}

nav ul li a:hover {
    color: #3d49b9;

}

.info {
    margin-left: 8%;
    margin-top: 15%;
}

.info h1 {
    font-size: 70px;
    color: var(--secondary-colour);
    margin-bottom: 20px;
}

span {
    color: #3d49b9;
}

.info p {
    color: var(--secondary-colour);
    line-height: 22px;
}

.info a {
    background: var(--secondary-colour);
    padding: 10px 18px;
    text-decoration: none;
    color: var(--primary-colour);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.img-box {
    width: 30%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 0px;
}

.img-box img {
    height: 100%;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.img-box:hover .back-img {
    bottom: 40px;
}

.img-box:hover .maina-img {
    left: 40px;
}

.social-links {
    margin-left: 8%;
    margin-top: 50px;
}

.social-links a {
    font-size: 30px;
    color: var(--secondary-colour);
    margin-right: 20px;
}

.social-links a:hover {
    color: #3d49b9;
}

#icon {
    width: 30px;
    cursor: pointer;
}

:root {
    --primary-colour: #efefef;
    --secondary-colour: #212121;
    --bg-colour: #efefef;
}

.dark-theme {
    --primary-colour: #212121;
    --secondary-colour: #efefef;
    --bg-colour: #313030;
}

.body {
    margin-left: 8%;
    margin-top: 5%;
}

.body h1 {
    font-size: 60px;
    color: var(--secondary-colour);
    margin-bottom: 20px;
}

.body h2 {
    font-size: 30px;
    color: var(--secondary-colour);
    margin-bottom: 20px;
}

.body p {
    color: var(--secondary-colour);
    font-size: 22px;
    line-height: 22px;
}

.body ul {
    color: var(--secondary-colour);
    font-size: 22px;
    line-height: 22px;
}

.body ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    font-size: 25px;
}

.body img {
    display: block;
    border: 5px solid #212121;
    border-radius: 10px;
}

.iel {
    width: 55%;
    height: 45%;
}

.jav {
    width: 65%;
    height: 85%;
}

.accordion {
    margin-left: 140px;
    width: 80%;
}

.accordion li {
    color: #2134dd;
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px #3d49b9, -6px -6px 10px -1px #3d49b9;
    background-color: #efefef;
}

.accordion li img {
    display: inline-block;

    margin-left: 90px;
    margin-top: 30px;
    /* width: 97%; */
    max-width: 90%;
    max-height: 600px;
    border: 10px solid #212121;
    border-radius: 10px;
}

.accordion li .calc {
    margin-left: 30%;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="checkbox"] {
    display: none;
}

.accordion .content {
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="checkbox"]:checked+label+.content {
    max-height: 100%;
    padding: 10px 10px 20px;
}

.accordion input[type="checkbox"]:checked+label::before {
    content: '-';
}

#icon {
    border: 3px solid var(--secondary-colour);
    border-radius: 55px;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    color: var(--secondary-colour);
    font-size: 25px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.00001fr 0.00001fr 0.00001fr 0.00001fr 0.00001fr 0.00001fr;
    gap: 15px;
}

.row {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
}